<div>
  <form [formGroup]="maliciousForm">
    <div>
      <label>Type de carte: </label>
      <mat-radio-group formControlName="cardType">
        <div>
        <mat-radio-button value="visa">Visa</mat-radio-button>
        </div>
        <div><mat-radio-button value="mc">MasterCard</mat-radio-button></div>
        <div><mat-radio-button value="ae">American Express</mat-radio-button></div>
        <br>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field>
        <mat-select formControlName="titre">
          <mat-option value="mr">M.</mat-option>
          <mat-option value="mme">Mme</mat-option>
          <mat-option value="mlle">Mlle</mat-option>
        </mat-select>
        <mat-label>Titre</mat-label>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Dupont" formControlName="nom">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Numéro de carte</mat-label>
        <input matInput placeholder="0000 0000 0000 0000" formControlName="cardNum">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Date d'expiration</mat-label>
        <input matInput placeholder="01/12" formControlName="cardExpire">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Cryptogramme visuel</mat-label>
        <input matInput placeholder="000" formControlName="cardExpire">
      </mat-form-field>
    </div>

    <mat-checkbox formControlName="agree">Vous acceptez que ces informations soient utilisées contre vous à des fins
      malveillantes.
    </mat-checkbox>
    <div>
      <button mat-stroked-button>Envoyer</button>
    </div>
  </form>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
